<!DOCTYPE HMTL>
<html>
<head>
<style>

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
/*
.curtain {
  width: 1000px;
  height: 500px;
  position: "absolute";
  top: 0;
  left: 0;
  background-color: "white";
} */

</style>
</head>
<body>

<!-- Co2 emissions of Afghanistan, 1964 to 2014 -->

<div class = "curtain"> </div>

<button type = "button" id = "render"> Render </button>

<script src="http://d3js.org/d3.v5.js"
	charset="utf-8"></script>

<script src = "static/js/script.js"></script>

</body>
</html>
