<html>
    <head>
        <title> </title>
    </head>
    <body>
      <h1> API's demonstration </h1> <hr>
      <h2> Google Books API: </h2>
      Book: <b>{{title}}</b> by <b>{{author}}</b> <br> <br>
      Description: <br> <br>{{description}} <br> <br>
      To find more information, google the book id '{{id}}'

      <hr>

      <h2> City Bike API: </h2>
      City bike program located in: <b>{{info}}</b> run by <b> {{company}} </b> <br> <br>
      To learn more, google '{{name}}'

      <hr>

      <h2> Weather API: </h2>
      The weather for NYC on <b> {{date}} </b> is:
      <b> {{weather}} </b>
    </body>
</html>
